.nav{
    display: flex;
    justify-content: space-around;
    height:6%;
    width:100%;
    background-color: black;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    margin:0;
}

.nav-item{
    display:flex;
    color:white;
    margin:0;
    padding: 1vmin 5vw;
    align-items: baseline;
    font-family: Arial, Helvetica, sans-serif;
    border:2px solid rgb(72, 75, 72);
    border-radius: 3px;
    
}
.nav-item.active{
    border:2px solid rgb(182, 72, 72);
    color:white(167, 5, 5);
    background-color:rgb(167, 5, 5);
}

.nav-item:hover{
    cursor: pointer;
    border: 2px solid rgb(167, 102, 5);
    color:rgb(167, 102, 5);
    background-color: rgba(0, 0, 0, 0.356);
}